@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Courgette&display=swap');

*{
    box-sizing: border-box;

}

body{
    margin: 0;
    padding: 0;
    list-style: none;
    
    background-image: url('./assets/mesaEstudo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {

width: 70%;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}


.header{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header .text{
    display: flex;
    align-items: baseline;
}
.header .text h1 {
    color: rgb(255, 217, 0);
    font-size: 2.2em;
    letter-spacing: 2px;
    margin-right: 5px;
}
.header .text span {
    color: rgb(14, 14, 14);
    font-size: 1.5em;
    font-weight: 500;
    
}

.inpts {
    
    
    display: flex;
    margin-top: 20px;
   
    
}

.inpt-text{
    border-radius: 5px 0 0 5px;
    border: 1px solid transparent;
    height: 30px;
    font-size: 1.1em;
    text-align: center;
    background-color: rgba(221, 221, 221, 0.685);
  
    
    
}
.inpt-text:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    }
.btn-inserir {
   
    
    height: 30px;
    border-radius: 0 5px 5px 0;
    border: 1px solid transparent;
    background-color: rgba(92, 240, 208, 0.76);
    font-size:1.1em;
    font-weight: 500;
    cursor: pointer;
    color: rgb(27, 27, 27);

}
.btn-inserir:hover {
    background-color: rgba(92, 240, 208, 1);
   
    
}

.content{
    display: flex;
    width:820px;
    justify-content: space-between;
    background-image: url('./assets/D_NQ_NP_929415-MLB27621618407_062018-O.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
    height: 600px;
    margin-top: 150px;
    border-radius:5px;
    box-shadow:10px 15px 15px 2px rgb(31, 31, 31);
    overflow: hidden;
}
.content h3 {
    
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 1.6em;
    color: rgb(44, 44, 44);
}

.content .area2 h3 {
    color: rgba(3, 151, 40, 0.767);
}

.content .area1, .area2 {
    
    width:390px;
    text-align: start;
    display: flex;
    flex-direction: column;
}
.content ul {
    width: 90%;
    margin-left: 2px;
}
.content .area2 ul {
    margin-left: 15px;
}

.content ul li {
   margin-top: 11px;
   font-family: 'Courgette', cursive;
   font-size: 1.4em;
   color: #333;
   list-style: none;
   
}





.highlight {

    background-color: rgba(201, 201, 201, 0.507);
    border-radius: 5px;
}

.content ul li , dropzone {
    transition: 400ms;
    
}

.is-dragging {
    cursor: move;
    opacity: 0.3;
    

}
.over{
    background-color: rgba(13, 206, 141, 0.575);
}

.hidden{
    opacity: 0;
    color: rgba(245, 245, 245, 0);
    list-style: none;
}


/*walkman*/

.walkman {
    top:500px;
    right:20px;
   position: absolute;
  background-image: url('./assets/walkman.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-position-x: center;
  background-position-y: center;
  width: 180px;
  height: 350px;
  cursor: move;
  

  
  
}

.acoes {
    margin-top:140px;
    margin-left: 115px;
    width: 38px;
    height: 80px;

    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.play, .pause{
    width: 30px;
    height: 35px;
    
    background-image: url('./assets/icons8-play-48.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
     border-radius: 10px;
   
}

.play:hover, .pause:hover{
    border: 1px solid rgb(5, 243, 243);
    cursor: pointer;
}

.pause{
    background-image: url('./assets/icons8-pause-48.png');
}








